In [22]:
import pandas as pd

In [34]:
import geopandas as gpd

In [23]:
# Load the three CSV files
education = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\rough_edu\final_education.csv")
poverty = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\rough_poverty\final_poverty.csv")
aggregator = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\final_data\final_aggregator.csv")
household_income = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\rough\final_household_income.csv")

In [24]:
# Concatenate the loaded DataFrames along columns (axis=1)
final_df = pd.concat([education, poverty, aggregator, household_income], axis=1)

In [25]:
final_df.head()

,geo_id,state_name,county,year,adults(18-24)_with_high_school,percent_adults(18-24)_with_high_school,adults(18-24)_with_college_degree,total_median_earnings,county_fips,geometry,...,total_502_investment_dollars,total_number_of_502_investment,geo_id,state_name,county,year,number_of_households,average_income_(per_household),county_fips,geometry
0,0500000US01007,Alabama,Bibb,2015,681.0,33.1,25.0,29113,1007,"POLYGON ((-87.421936 33.003378999999995, -87.3...",...,1273871.0,10.0,0500000US01007,Alabama,Bibb,2015.0,7027.0,38678.0,1007.0,"POLYGON ((-87.421936 33.003378999999995, -87.3..."
1,0500000US01009,Alabama,Blount,2015,1538.0,33.3,138.0,34549,1009,"POLYGON ((-86.963358 33.858221, -86.920198 33....",...,658855.0,7.0,0500000US01009,Alabama,Blount,2015.0,20816.0,45813.0,1009.0,"POLYGON ((-86.963358 33.858221, -86.920198 33...."
2,0500000US01015,Alabama,Calhoun,2015,3362.0,28.3,570.0,28449,1015,"POLYGON ((-86.143711 33.709134999999996, -86.1...",...,1710111.0,15.0,0500000US01015,Alabama,Calhoun,2015.0,45154.0,41703.0,1015.0,"POLYGON ((-86.143711 33.709134999999996, -86.1..."
3,0500000US01017,Alabama,Chambers,2015,1234.0,42.6,114.0,28983,1017,"POLYGON ((-85.593177 33.10734, -85.232441 33.1...",...,2219547.0,16.0,0500000US01017,Alabama,Chambers,2015.0,13787.0,34177.0,1017.0,"POLYGON ((-85.593177 33.10734, -85.232441 33.1..."
4,0500000US01019,Alabama,Cherokee,2015,739.0,38.3,107.0,30545,1019,"POLYGON ((-85.843836 34.243449999999996, -85.8...",...,1596396.0,13.0,0500000US01019,Alabama,Cherokee,2015.0,11278.0,36296.0,1019.0,"POLYGON ((-85.843836 34.243449999999996, -85.8..."

In [26]:
# Remove duplicate columns (e.g., geo_id, county, state, year, etc.)
final_df = final_df.loc[:, ~final_df.columns.duplicated()]

In [27]:
final_df.head()

,geo_id,state_name,county,year,adults(18-24)_with_high_school,percent_adults(18-24)_with_high_school,adults(18-24)_with_college_degree,total_median_earnings,county_fips,geometry,...,population_below_poverty,percent_below_poverty,adults(25+)_with_high_school,percent_adults(25+)_with_high_school,adults(25+)_with_college_degree,percent_adults(25+)_with_college_degree,total_502_investment_dollars,total_number_of_502_investment,number_of_households,average_income_(per_household)
0,0500000US01007,Alabama,Bibb,2015,681.0,33.1,25.0,29113,1007,"POLYGON ((-87.421936 33.003378999999995, -87.3...",...,3488.0,16.8,5960.0,13.5,1657.0,3.7,1273871.0,10.0,7027.0,38678.0
1,0500000US01009,Alabama,Blount,2015,1538.0,33.3,138.0,34549,1009,"POLYGON ((-86.963358 33.858221, -86.920198 33....",...,9552.0,16.7,13032.0,13.1,5060.0,2.4,658855.0,7.0,20816.0,45813.0
2,0500000US01015,Alabama,Calhoun,2015,3362.0,28.3,570.0,28449,1015,"POLYGON ((-86.143711 33.709134999999996, -86.1...",...,23325.0,20.5,24769.0,15.3,13756.0,4.2,1710111.0,15.0,45154.0,41703.0
3,0500000US01017,Alabama,Chambers,2015,1234.0,42.6,114.0,28983,1017,"POLYGON ((-85.593177 33.10734, -85.232441 33.1...",...,7273.0,21.6,8996.0,15.7,2750.0,4.0,2219547.0,16.0,13787.0,34177.0
4,0500000US01019,Alabama,Cherokee,2015,739.0,38.3,107.0,30545,1019,"POLYGON ((-85.843836 34.243449999999996, -85.8...",...,4918.0,19.2,6693.0,18.5,2562.0,4.5,1596396.0,13.0,11278.0,36296.0

In [28]:
print(final_df.columns.tolist())

['geo_id', 'state_name', 'county', 'year', 'adults(18-24)_with_high_school', 'percent_adults(18-24)_with_high_school', 'adults(18-24)_with_college_degree', 'total_median_earnings', 'county_fips', 'geometry', 'total_population', 'population_below_poverty', 'percent_below_poverty', 'adults(25+)_with_high_school', 'percent_adults(25+)_with_high_school', 'adults(25+)_with_college_degree', 'percent_adults(25+)_with_college_degree', 'total_502_investment_dollars', 'total_number_of_502_investment', 'number_of_households', 'average_income_(per_household)']

In [30]:
# Define the desired column order
desired_columns = [
    # Only include columns that exist in the DataFrame
    *[col for col in [
        'year',
        'county_fips',
        'county',
        'state_name',
        'total_population',
        'number_of_households',
        'average_income_(per_household)',
        'total_median_earnings',
        'total_502_investment_dollars',
        'total_number_of_502_investment',
        'population_below_poverty',
        'percent_below_poverty',
        'adults(18-24)_with_high_school',
        'percent_adults(18-24)_with_high_school',
        'adults(18-24)_with_college_degree',
        'percent_adults(18-24)_with_college_degree',
        'adults(25+)_with_high_school',
        'percent_adults(25+)_with_high_school',
        'adults(25+)_with_college_degree',
        'percent_adults(25+)_with_college_degree',
        'geo_id',
        'geometry'
    ] if col in final_df.columns]
]

In [32]:
print(final_df.columns.tolist())

['year', 'county_fips', 'county', 'state_name', 'total_population', 'number_of_households', 'average_income_(per_household)', 'total_median_earnings', 'total_502_investment_dollars', 'total_number_of_502_investment', 'population_below_poverty', 'percent_below_poverty', 'adults(18-24)_with_high_school', 'percent_adults(18-24)_with_high_school', 'adults(18-24)_with_college_degree', 'adults(25+)_with_high_school', 'percent_adults(25+)_with_high_school', 'adults(25+)_with_college_degree', 'percent_adults(25+)_with_college_degree', 'geo_id', 'geometry']

In [31]:
final_df[desired_columns].head()

,year,county_fips,county,state_name,total_population,number_of_households,average_income_(per_household),total_median_earnings,total_502_investment_dollars,total_number_of_502_investment,...,percent_below_poverty,adults(18-24)_with_high_school,percent_adults(18-24)_with_high_school,adults(18-24)_with_college_degree,adults(25+)_with_high_school,percent_adults(25+)_with_high_school,adults(25+)_with_college_degree,percent_adults(25+)_with_college_degree,geo_id,geometry
0,2015,1007,Bibb,Alabama,20767.0,7027.0,38678.0,29113,1273871.0,10.0,...,16.8,681.0,33.1,25.0,5960.0,13.5,1657.0,3.7,0500000US01007,"POLYGON ((-87.421936 33.003378999999995, -87.3..."
1,2015,1009,Blount,Alabama,57126.0,20816.0,45813.0,34549,658855.0,7.0,...,16.7,1538.0,33.3,138.0,13032.0,13.1,5060.0,2.4,0500000US01009,"POLYGON ((-86.963358 33.858221, -86.920198 33...."
2,2015,1015,Calhoun,Alabama,113602.0,45154.0,41703.0,28449,1710111.0,15.0,...,20.5,3362.0,28.3,570.0,24769.0,15.3,13756.0,4.2,0500000US01015,"POLYGON ((-86.143711 33.709134999999996, -86.1..."
3,2015,1017,Chambers,Alabama,33687.0,13787.0,34177.0,28983,2219547.0,16.0,...,21.6,1234.0,42.6,114.0,8996.0,15.7,2750.0,4.0,0500000US01017,"POLYGON ((-85.593177 33.10734, -85.232441 33.1..."
4,2015,1019,Cherokee,Alabama,25575.0,11278.0,36296.0,30545,1596396.0,13.0,...,19.2,739.0,38.3,107.0,6693.0,18.5,2562.0,4.5,0500000US01019,"POLYGON ((-85.843836 34.243449999999996, -85.8..."

In [33]:
final_df[desired_columns].to_csv("final_fahe_outcome.csv", index=False)

In [43]:
from shapely import wkt

In [44]:
final_df = final_df[desired_columns].copy()

In [45]:
final_df["geometry"] = final_df["geometry"].apply(lambda x: wkt.loads(x) if isinstance(x, str) else x)

In [47]:
gdf = gpd.GeoDataFrame(final_df, geometry="geometry", crs="EPSG:4326")

In [48]:
gdf.to_file("final_fahe_outcome.geojson", driver="GeoJSON")