In [93]:
import pandas as pd
import glob
import re

In [94]:
import warnings
warnings.filterwarnings('ignore', category=pd.errors.DtypeWarning)

In [95]:
# Basic CSV reading
df15 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_15.csv')
df16 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_16.csv')
df17 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_17.csv')
df18 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_18.csv')
df19 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_19.csv')
df20 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_20.csv')
df21 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_21.csv')
df22 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_22.csv')
df23 = pd.read_csv(r'C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\education\southcarolina\sc_23.csv')

In [96]:
df15['year'] = 2015
df16['year'] = 2016
df17['year'] = 2017
df18['year'] = 2018
df19['year'] = 2019
df20['year'] = 2020
df21['year'] = 2021
df22['year'] = 2022
df23['year'] = 2023

In [97]:
# Combine them vertically
df_all = pd.concat([df15, df16, df17, df18, df19, df20, df21, df22, df23], ignore_index=True)

In [98]:
df_all.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C02_001E,S1501_C02_001M,S1501_C03_001E,S1501_C03_001M,S1501_C04_001E,S1501_C04_001M,...,S1501_C03_064E,S1501_C03_064M,S1501_C04_064E,S1501_C04_064M,S1501_C05_064E,S1501_C05_064M,S1501_C06_064E,S1501_C06_064M,Unnamed: 770,year
0,Geography,Geographic Area Name,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Percent!!Estimate!!Population 18 to 24 years,Percent!!Margin of Error!!Population 18 to 24 ...,Males!!Estimate!!Population 18 to 24 years,Males!!Margin of Error!!Population 18 to 24 years,Percent Males!!Estimate!!Population 18 to 24 y...,Percent Males!!Margin of Error!!Population 18 ...,...,Males!!Estimate!!MEDIAN EARNINGS IN THE PAST 1...,Males!!Margin of Error!!MEDIAN EARNINGS IN THE...,Percent Males!!Estimate!!MEDIAN EARNINGS IN TH...,Percent Males!!Margin of Error!!MEDIAN EARNING...,Females!!Estimate!!MEDIAN EARNINGS IN THE PAST...,Females!!Margin of Error!!MEDIAN EARNINGS IN T...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,NaN,2015
1,0500000US45007,"Anderson County, South Carolina",16335,161,(X),(X),8151,114,(X),(X),...,68672,8697,(X),(X),50305,4235,(X),(X),NaN,2015
2,0500000US45021,"Cherokee County, South Carolina",5610,164,(X),(X),2871,58,(X),(X),...,57583,8845,(X),(X),50109,7791,(X),(X),NaN,2015
3,0500000US45045,"Greenville County, South Carolina",44645,69,(X),(X),22106,51,(X),(X),...,78785,4653,(X),(X),47164,1845,(X),(X),NaN,2015
4,0500000US45073,"Oconee County, South Carolina",6114,197,(X),(X),3318,121,(X),(X),...,64375,9082,(X),(X),45471,4660,(X),(X),NaN,2015

In [99]:
# Split NAME column into County and State
df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

C:\Users\athar\AppData\Local\Temp\ipykernel_20472\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)
C:\Users\athar\AppData\Local\Temp\ipykernel_20472\61925457.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_all[['County', 'State']] = df_all['NAME'].str.split(',', expand=True)

In [100]:
# Clean up extra spaces
df_all['County'] = df_all['County'].str.strip()
df_all['State'] = df_all['State'].str.strip()

In [101]:
# Drop the original NAME column if not needed
df_all = df_all.drop(columns=['NAME'])

In [102]:
# Drop rows where GEO_ID is "Geography"
#df_all = df_all[df_all["GEO_ID"] != "Geography"].reset_index(drop=True)

In [103]:
df_all.head()

,GEO_ID,S1501_C01_001E,S1501_C01_001M,S1501_C02_001E,S1501_C02_001M,S1501_C03_001E,S1501_C03_001M,S1501_C04_001E,S1501_C04_001M,S1501_C05_001E,...,S1501_C04_064E,S1501_C04_064M,S1501_C05_064E,S1501_C05_064M,S1501_C06_064E,S1501_C06_064M,Unnamed: 770,year,County,State
0,Geography,Total!!Estimate!!Population 18 to 24 years,Total!!Margin of Error!!Population 18 to 24 years,Percent!!Estimate!!Population 18 to 24 years,Percent!!Margin of Error!!Population 18 to 24 ...,Males!!Estimate!!Population 18 to 24 years,Males!!Margin of Error!!Population 18 to 24 years,Percent Males!!Estimate!!Population 18 to 24 y...,Percent Males!!Margin of Error!!Population 18 ...,Females!!Estimate!!Population 18 to 24 years,...,Percent Males!!Estimate!!MEDIAN EARNINGS IN TH...,Percent Males!!Margin of Error!!MEDIAN EARNING...,Females!!Estimate!!MEDIAN EARNINGS IN THE PAST...,Females!!Margin of Error!!MEDIAN EARNINGS IN T...,Percent Females!!Estimate!!MEDIAN EARNINGS IN ...,Percent Females!!Margin of Error!!MEDIAN EARNI...,NaN,2015,Geographic Area Name,None
1,0500000US45007,16335,161,(X),(X),8151,114,(X),(X),8184,...,(X),(X),50305,4235,(X),(X),NaN,2015,Anderson County,South Carolina
2,0500000US45021,5610,164,(X),(X),2871,58,(X),(X),2739,...,(X),(X),50109,7791,(X),(X),NaN,2015,Cherokee County,South Carolina
3,0500000US45045,44645,69,(X),(X),22106,51,(X),(X),22539,...,(X),(X),47164,1845,(X),(X),NaN,2015,Greenville County,South Carolina
4,0500000US45073,6114,197,(X),(X),3318,121,(X),(X),2796,...,(X),(X),45471,4660,(X),(X),NaN,2015,Oconee County,South Carolina

In [104]:
# Delete row at index 0
df_all = df_all.drop(0)

In [105]:
# Reset index after deletion
df_all = df_all.reset_index(drop=True)

In [106]:
df_all.head()

,GEO_ID,S1501_C01_001E,S1501_C01_001M,S1501_C02_001E,S1501_C02_001M,S1501_C03_001E,S1501_C03_001M,S1501_C04_001E,S1501_C04_001M,S1501_C05_001E,...,S1501_C04_064E,S1501_C04_064M,S1501_C05_064E,S1501_C05_064M,S1501_C06_064E,S1501_C06_064M,Unnamed: 770,year,County,State
0,0500000US45007,16335,161,(X),(X),8151,114,(X),(X),8184,...,(X),(X),50305,4235,(X),(X),NaN,2015,Anderson County,South Carolina
1,0500000US45021,5610,164,(X),(X),2871,58,(X),(X),2739,...,(X),(X),50109,7791,(X),(X),NaN,2015,Cherokee County,South Carolina
2,0500000US45045,44645,69,(X),(X),22106,51,(X),(X),22539,...,(X),(X),47164,1845,(X),(X),NaN,2015,Greenville County,South Carolina
3,0500000US45073,6114,197,(X),(X),3318,121,(X),(X),2796,...,(X),(X),45471,4660,(X),(X),NaN,2015,Oconee County,South Carolina
4,0500000US45077,22058,155,(X),(X),11664,102,(X),(X),10394,...,(X),(X),52123,4590,(X),(X),NaN,2015,Pickens County,South Carolina

In [107]:
# Remove the word "County" from County column
df_all['County'] = df_all['County'].str.replace('County', '', regex=False).str.strip()

In [108]:
# Reorder columns: GEO_ID, year, County, State, then the rest
cols = df_all.columns.tolist()

In [109]:
# Ensure order
new_order = ['GEO_ID', 'year', 'County', 'State'] + [col for col in cols if col not in ['GEO_ID', 'year', 'County', 'State']]

In [110]:
df_all = df_all[new_order]

In [111]:

# # Remove the word "County" from County column
# df_all['County'] = df_all['County'].str.replace('County', '', regex=False).str.strip()

# # Reorder columns: GEO_ID, year, County, State, then the rest
# cols = df_all.columns.tolist()

# # Ensure order
# new_order = ['GEO_ID', 'year', 'County', 'State'] + [col for col in cols if col not in ['GEO_ID', 'year', 'County', 'State']]


# df_all = df_all[new_order]

In [114]:
keep = [
    "GEO_ID", "NAME", "State", "County", "year",
    "S1501_C01_001E", # Total Population
    "S1501_C02_001E", # Population Below Poverty     
    "S1501_C03_001E", # Percent Below Poverty     
    "S1501_C01_024E", # Adults with High School       
    "S1501_C03_024E", # Percent Adults with High School       
    "S1501_C01_026E", # Adults with College Degree      
    "S1501_C03_026E" # Percent Adults with College Degree
]

In [115]:
# Filter to the columns that exist, then rename
existing = [c for c in keep if c in df_all.columns]

In [116]:
renamed = {
    "S1501_C01_001E": "Total Population",
    "S1501_C02_001E": "Population Below Poverty",     
    "S1501_C03_001E": "Percent Below Poverty",      
    "S1501_C01_024E": "Adults with High School",       
    "S1501_C03_024E": "Percent Adults with High School",       
    "S1501_C01_026E": "Adults with College Degree",       
    "S1501_C03_026E": "Percent Adults with College Degree"       
}

In [117]:
df_out = df_all[existing].rename(columns=renamed)

In [118]:
keep_county = pd.read_csv(r"C:\Users\athar\OneDrive\Desktop\fulton_ring\fahe\appalachian_counties.csv")

In [119]:
keep_sc = keep_county[keep_county["state"] == "South Carolina"]

In [120]:

sc_counties = set(keep_sc["county"])

In [121]:
# Keep only rows in df_out where 'County' is in that list
df_out10 = df_out[df_out["County"].isin(sc_counties)]

In [122]:
df_out10.head()

,GEO_ID,State,County,year,Total Population,Population Below Poverty,Percent Below Poverty,Adults with High School,Percent Adults with High School,Adults with College Degree,Percent Adults with College Degree
0,0500000US45007,South Carolina,Anderson,2015,16335,(X),8151,10645,5173,23413,10408
1,0500000US45021,South Carolina,Cherokee,2015,5610,(X),2871,2303,974,5261,2470
2,0500000US45045,South Carolina,Greenville,2015,44645,(X),22106,39642,19981,52787,23294
3,0500000US45073,South Carolina,Oconee,2015,6114,(X),3318,5095,2632,12362,5829
4,0500000US45077,South Carolina,Pickens,2015,22058,(X),11664,6218,3145,13213,5930

In [123]:
df_out10.to_csv("df_10.csv", index=False)